/*Colors*/
$white: #fff;
$black: #000;
$black2: #333333;
$gray: #F0F4F4;

$red: #EC3D31;
$bg: #F6F6F6;

$blue: #2787F5;

/*Styles*/
$font-family: 'Montserrat', sans-serif;
$font-family2: 'Lato', sans-serif;